.modalPage {
    height: 80vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: var(--bg-dark);
    backdrop-filter: blur(8px);

    padding: 1rem;
    margin-inline: 2rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px var(--border-muted), -5px -5px 10px var(--border-muted);
}

.form {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.inputField {
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 1px solid var(--border);
    border-radius: 0.5rem;
}

.inputField:focus {
    outline: none;
}


.submitBtn {
    width: 100%;
    background-color: var(--primary);
    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--border);
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
}

.submitBtn:hover {
    box-shadow: 5px 5px 10px var(--border-muted), -5px -5px 10px var(--border-muted);
}
.submitBtn:disabled {
    opacity: 0.7;
    box-shadow: none;
}

.navLinks {
    display: flex;
    justify-content: center;
    gap: 2rem;
}