.passwordDiv {
    margin-top: 1rem;
    position: relative;
}

.inputField {
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 1px solid var(--border);
    border-radius: 0.5rem;
}

.inputField:focus {
    outline: none;
}

.SVG {
    position: absolute;
    top: 2rem;
    right: 1rem;
    width: 24px;
    height: 24px;
    fill: var(--text-muted);
    stroke: var(--text-muted);
    stroke-width: 0.5;
}

.SVG:hover {
    stroke: var(--text);
    fill: var(--text);
}

.passwordVisible {
    fill: var(--text);
    stroke: var(--text);
}
