.chatCard{
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    /* transition: background-color 0.2s ease-in-out; */
}
/* .chatCard:hover{
    background-color: var(--bg);
} */
/* .chatCard[]{

} */

.profileImage{
    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
    margin: 0.5rem;
}

.chatCardData{
    padding-inline: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.numUnreadMess{
    display: flex;
    justify-content: end;
}
.numUnreadMess>h5{
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 1.2rem;
    background-color: var(--secondary);
    text-align: center;
}