header {
    background-color: var(--bg-dark);
    margin: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-inline: 3vw;
    border-radius: 1rem;
    border: 1px solid var(--border);
    box-shadow: 5px 5px 10px var(--border-muted);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img {
    margin-inline: 1rem; 
}


.sun-btn{
    stroke-width: 0.5px;
    transition: transform 0.2s ease-in-out;
}
.moon-btn{
    stroke-width: 0.5px;
}
.sun-btn:hover {
    transform: rotateZ(20deg);
}
.sun-btn path, .moon-btn path{
    fill: var(--text-muted);
    stroke: var(--text-muted);
}
.sun-btn:hover path, .moon-btn:hover path{
    fill: var(--text);
    stroke: var(--text);
}

